# Trigger builds on commits and merges to all branches, excluding specified branches
trigger:
  batch: true
  branches:
    include:
    - '*'
    #exclude:
    #- main
  paths:
    exclude:
    - README.md

# Trigger builds on PRs to branch
pr:
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md

# Trigger for regression test dependencies
resources:
  pipelines:
  - pipeline: Network  
    source: tfsubmodule-network
    trigger:    
      stages:
      - Regression
  - pipeline: 'Resource Group'  
    source: tfmodule-resource_group
    trigger:    
      stages:
      - Regression
  - pipeline: 'Network Interfaces'  
    source: tfsubmodule-network_interfaces
    trigger:    
      stages:
      - Regression

extends:
  template: ./Shared/azure-pipelines.yml